*{
  margin:0;
  padding:0;
}

.background{
  width:300vw;
  height:350vh;
  border:2px solid black;
  position: absolute;
  perspective: 1000;
  
}

.boxes_main{
  display: flex;
  position:relative;
  margin-left: 1170px;
  padding-top:650px;
  
}
#button{
  position: relative;
  width:170px;
  height:180px;
  border: 2px solid black;
  border-radius: 17px;
  margin: 10px;
  font-size: 70px;
  background-color: transparent;
  font-style: bold;
}

.boxes{
  width:40vw;
  height:50vh;
  margin-left: 15px;
  border: 3px solid black;
  background-image: url('box.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.element
{
  font-size: 90px;
  font-size: bold;
  color:white;
  text-align: center;
  width:130px;
  height:40px;
  border-radius: 43px;
  z-index:100;
  background-color: transparent;
}

.dora
{
  width:370px;
  height:370px;
  margin-top: -94px;
} 